<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
        tools:targetApi="31">

        <activity android:name="com.example.wordgameproject.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.wordgameproject.MainActivity" />
        <activity android:name="com.example.wordgameproject.SignUpActivity" />
        <activity android:name="com.example.wordgameproject.CreateGameActivity" />
        <activity android:name="com.example.wordgameproject.CreateGameWaitingActivity" />
        <activity android:name="com.example.wordgameproject.JoinGameActivity" />
        <activity android:name="com.example.wordgameproject.GameActivity" />
        <activity android:name="com.example.wordgameproject.GameTypeActivity" />
        <activity android:name="com.example.wordgameproject.RoomsActivity" />
        <activity android:name="com.example.wordgameproject.RoomActivity" />
        <activity android:name="com.example.wordgameproject.PickWordActivity" />

    </application>

</manifest>
